<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage includeUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/php</directory>
        </include>
        <report>
            <clover outputFile="review/logs/phpunit.xml"/>
            <html outputDirectory="review/code-coverage"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Unit_Tests">
            <directory suffix="Test.php">src/tests/php</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="review/logs/phpunit-junit.xml"/>
        <testdoxHtml outputFile="review/testdox.html"/>
        <testdoxText outputFile="review/testdox.txt"/>
    </logging>
</phpunit>
