<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteRule ^profilesig/([a-zA-Z0-9\-_]+)\.png$ signature.php\?id=$1&action=img&rewrite=1 [QSA]
  RewriteRule ^profilesig/([a-zA-Z0-9\-_]+)/go$ signature.php\?id=$1&action=go&rewrite=1 [QSA]
</IfModule>
